/venv/
/.idea/
/private/
*.swp
*.out
*.pyc
*.iml
credentials.properties
export.sql
logs.txt
.vagrant/
*.log
bower_components/
node_modules/
app/static/js/lib/
credentials.dev.properties
.vscode/tags
