/scripts/private/
/venv/
/database/insert_seed_data.sql
/.idea/
*.swp
*.out
prod_deploy_do.sh
resources/credentials.properties
*.pyc
credentials.properties
apache2.conf
*.iml
export.sql
/logs.txt
notes
