<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{babyName}} Charts</title>
</head>

<body>
    {{nav|safe}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-sm-offset-0 main">
                <h1 class="pull-left">{{babyName}}'s Charts</h1>
                <div class="dropdown pull-right">
                    <button class="btn btn-default dropdown-toggle" type="button" id="ddlChartTime" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="true">
                        <span id='chart-time-description'>Daily</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="ddlChartTime">
                        <li>
                            <a href="#" id='ddlChartRecent'>Daily</a>
                        </li>
                        <li>
                            <a href="#" id='ddlChartWeekly'>Weekly</a>
                        </li>
                        <li>
                            <a href="#" id='ddlChartWeeklyComparison'>Weekly - Compare</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">

            </div>
            <div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 main">
                <div id="main-chart" style="width:100%;height:400px"></div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
    </script>
    <!-- Latest compiled and minified bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

</body>

</html>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="/static/js/lib/highcharts.js"></script>
<script src="/static/js/lib/exporting.js"></script>
<script src="/static/js/utils/utils.js"></script>
<script src="/static/js/utils/datetime.js"></script>
<script src="/static/js/reportpage.js"></script>