<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title></title>
		<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div id="entry-grid" class="table-responsive">
	</body>
	<script src="../static/js/utils.js"></script>
	<script src="../static/js/datetime.js"></script>
	<script src="../static/js/helpers.js"></script>
	<script src="../static/js/entryGridModel.js"></script>
	<script src="../static/js/entryGridTemplate.js"></script>
	<script src="../static/js/entryGridView.js"></script>
	<script src="../static/js/entryGridController.js"></script>
	<script src="../static/js/entryGrid.js"></script>
</html>

